<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user %>
</p>

<p>
  <strong>Active:</strong>
  <%= @portfolio.active %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
